#
# CGroups on {{inventory_hostname}} to prevent matlab from grabbing all the cores and memory
#
# NB The (required) mems param is the memory bank but
# there seems to be only one on this architecture
#
# We set a memory limit of 16 GiB preg group here but if this
# is exceed the oom killer will be invoked so we'll limit the matlab
# processes independently to less that this with ulimit so as to try
# and avoid hitting this limit.
#
# We have three groups which we'll allocated matlab to on a least busy basis
#
# RHD 20180516
#
{% if inventory_hostname == 'vega' %}
{% include 'cgconfig_vega.conf.j2' %}
{% elif inventory_hostname == 'canopus' %}
{% include 'cgconfig_canopus.conf.j2' %}
{% else %}
# None defined for {{inventory_hostname}}
{% endif %}

