#!/bin/bash
#
# Matlab wrapper script to restrict resources
# using cgroups and ulimit.
#
# Depends on bespoke cgroups hierarchy having been set up:
# see /etc/cgconfig.conf.
#
# RHD 20180516
#
{% if inventory_hostname in ['vega', 'canopus'] %}
{% raw %}
# So we can gracefully handle case where cgroups not set up
shopt -s nullglob

# Pick cgroups with the fewest existing processes
cgroups=(/sys/fs/cgroup/cpuset/matlab/m?/tasks)
if [ ${#cgroups[@]} -gt 0 ]; then
    cgroup=$(wc -l "${cgroups[@]}" | grep -v total | sort -n | awk 'NR==1 {print $2}')
    if [ -n "$cgroup" ]; then
        echo Assigning to matlab cpuset cgroup $(basename $(dirname "$cgroup"))
        echo 0 > "$cgroup"
    fi
fi

cgroups=(/sys/fs/cgroup/memory/matlab/m?/tasks)
if [ ${#cgroups[@]} -gt 0 ]; then
    cgroup=$(wc -l "${cgroups[@]}" | grep -v total | sort -n | awk 'NR==1 {print $2}')
    if [ -n "$cgroup" ]; then
        echo Assigning to matlab memory cgroup $(basename $(dirname "$cgroup"))
        echo 0 > "$cgroup"
    fi
fi

# A soft limit memory of 12G (vs 16G in cgroup)
mem=12884901888
echo Limiting virtual memory to $mem
ulimit -v $mem
exec /usr/local/matlab/bin/matlab "$@"
{% endraw %}
{% elif inventory_hostname == 'capella' %}
echo "Matlab is not available on {{inventory_hostname}} as resources are insufficient"
exit 1
{% else %}
# matlab unrestricted on workstations
exec /usr/local/matlab/bin/matlab "$@"
{% endif %}

