<?xml version="1.0" encoding="UTF-8"?>
<unix-user-mapping serviceName="guacamole">
    <config name="RDP Connection" protocol="rdp">
        <param name="hostname" value="localhost" />
        <param name="username" value="${GUAC_USERNAME}" />
        <param name="password" value="${GUAC_PASSWORD}" />
        <param name="ignore-cert" value="true" />
        <param name="server-layout" value="en-gb-qwerty" />
    </config>

    <config name="VNC Connection" protocol="vnc">
        <param name="hostname" value="localhost" />
        <param name="port" value="5901" />
        <param name="password" value="secret" />
    </config>

    <config name="SSH Connection" protocol="ssh">
        <param name="hostname" value="localhost" />
        <param name="port" value="22" />
        <param name="username" value="${GUAC_USERNAME}" />
        <param name="password" value="${GUAC_PASSWORD}" />
    </config>

    <group name="{{guacamole_users_group}}">
        <config-ref name="RDP Connection" />
        <config-ref name="SSH Connection" />
    </group>
</unix-user-mapping>
