    # Reverse Proxy for guacamole to be included in default apache port 443 virtualhost
    RewriteEngine On
    RewriteCond %{HTTP:CONNECTION} upgrade [NC]
    RewriteCond %{HTTP:UPGRADE} websocket [NC]
    RewriteRule /{{guacamole_path}}/(.*) ws://127.0.0.1:8080/{{guacamole_path}}/$1 [P]

    RewriteRule /{{guacamole_path}}/(.*) http://127.0.0.1:8080/{{guacamole_path}}/$1 [P]

    ProxyPreserveHost on
    ProxyPass         /{{guacamole_path}} http://127.0.0.1:8080/{{guacamole_path}} flushpackets=on
    ProxyPassReverse  /{{guacamole_path}} http://127.0.0.1:8080/{{guacamole_path}}

