    # https upgrade for guacamole to be included in default apache port 80 virtualhost    
    RewriteEngine On
    RewriteCond %{HTTPS} off [NC]
    RewriteRule ^/{{guacamole_path}}/(.*) https://%{HTTP_HOST}/{{guacamole_path}}/$1 [R,L]

    RewriteCond %{HTTPS} off [NC]
    RewriteRule ^/{{guacamole_path}} https://%{HTTP_HOST}/{{guacamole_path}} [R,L]

