#
# When loaded, the mod_proxy_ajp module adds support for
# proxying to an AJP/1.3 backend server (such as Tomcat).
# To proxy to an AJP backend, use the "ajp://" URI scheme;
# Tomcat is configured to listen on port 8009 for AJP requests
# by default.
#

# 
# Uncomment the following lines to serve the ROOT webapp
# under the /tomcat/ location, and the jsp-examples webapp
# under the /examples/ location.
#
# (rhd) Don't know if we really need all of the stuff other than ProxyPass
# but taken all together it seems to work.
ProxyPass /dcm4chee-web3 ajp://localhost:8009/dcm4chee-web3
ProxyPassReverse /dcm4chee-web3 ajp://localhost:8009/dcm4chee-web3
ProxyPassReverseCookieDomain localhost {{ansible_fqdn}}
ProxyPassReverseCookiePath /dcm4chee-web3 /dcm4chee-web3

# (rhd) Serve the jmx console remotely as well for now
# not ideal from a security standpoint but it makes configuration
# a bit easier.
ProxyPass /jmx-console ajp://localhost:8009/jmx-console
ProxyPassReverse /jmx-console ajp://localhost:8009/jmx-console
ProxyPassReverseCookieDomain localhost vega.cric.bris.ac.uk
ProxyPassReverseCookiePath /jmx-console /jmx-console

# (rhd) Seems to need this for series download
ProxyPass /services ajp://localhost:8009/services
ProxyPassReverse /services ajp://localhost:8009/services
ProxyPassReverseCookieDomain localhost {{ansible_fqdn}}
ProxyPassReverseCookiePath /services /services

# (rhd) Seems to need this for wado image download
ProxyPass /wado ajp://localhost:8009/wado
ProxyPassReverse /wado ajp://localhost:8009/wado
ProxyPassReverseCookieDomain localhost {{ansible_fqdn}}
ProxyPassReverseCookiePath /wado /wado

# (rhd) Doesn't seem to work with the path /oviyam/oviam
#ProxyPass /oviyam ajp://localhost:8009/oviyam
#ProxyPassReverse /oviyam ajp://localhost:8009/oviyam
#ProxyPassReverseCookieDomain localhost canopus.cric.bris.ac.uk
#ProxyPassReverseCookiePath /oviyam /oviyam

