<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">
   <renderer renderedClass="org.dcm4che.data.Dataset" renderingClass="org.dcm4che.log.DatasetRenderer" />


   <appender name="FILE" class="org.jboss.logging.appender.DailyRollingFileAppender">
      <errorHandler class="org.jboss.logging.util.OnlyOnceErrorHandler"/>
      <param name="File" value="${jboss.server.log.dir}/server.log"/>
      <param name="Append" value="true"/>
      <param name="DatePattern" value="'.'yyyy-MM-dd"/>
      <layout class="org.apache.log4j.PatternLayout">
         <param name="ConversionPattern" value="%d %-5p %X{calling}->%X{called} (%t) [%c] %m%n"/>
      </layout>
   </appender>


   <!-- Limit the org.dcm4chex.arr to INFO -->
   <category name="org.dcm4chex.arr">
      <priority value="INFO"/>
   </category>
   
   <!-- Limit the org.infohazard category to INFO -->
   <category name="org.infohazard">
      <priority value="INFO"/>
   </category>
   
   <!-- Limit the org.dcm4chex.archive category to INFO --> 
   <category name="org.dcm4chex.archive">
      <priority value="INFO"/>
   </category>
   
   <!-- Limit the org.dcm4chex.archive category to INFO --> 
   <category name="org.dcm4chex.cdw">
      <priority value="INFO"/>
   </category>
   
   <!-- Limit the org.dcm4chex.wado to INFO --> 
   <category name="org.dcm4chex.wado">
      <priority value="INFO"/>
   </category>

   <!-- Limit the org.dcm4chex.rid to INFO --> 
   <category name="org.dcm4chex.rid">
      <priority value="INFO"/>
   </category>

   <!-- Limit the org.dcm4chex.xds to INFO --> 
   <category name="org.dcm4chex.xds">
      <priority value="INFO"/>
   </category>

   <!-- Limit the org.dcm4cheri category to INFO -->
   <category name="org.dcm4cheri">
      <priority value="INFO"/>
   </category>

   <!-- Limit the org.dcm4che2 category to INFO -->
   <category name="org.dcm4che2">
      <priority value="INFO"/>
   </category>

   <!-- Limit the org.dcm4che.util category to INFO -->
   <category name="org.dcm4che.util">
      <priority value="INFO"/>
   </category>
   <!-- Limit the org.dcm4chee category to INFO -->
   <category name="org.dcm4chee">
      <priority value="INFO"/>
   </category>

  <!-- Limit the org.apache.wicket.Component category to avoid 'Markup id set on a component that is usually not rendered into markup.' messages from wicket -->
  <category name="org.apache.wicket.Component">
    <priority value="ERROR"/>
  </category>

   <!-- To see ignored unhandled exceptions from listener in handleNotification -->
   <category name="org.jboss.mx.util.JBossNotificationBroadcasterSupport">
     <priority value="WARN"/>
   </category>

   <!-- Limit the org.apache category to INFO as its DEBUG is verbose -->
   <category name="org.apache">
      <priority value="INFO"/>
   </category>

   <!-- Limit the org.jboss.serial (jboss-serialization) to INFO as its DEBUG is verbose -->
   <category name="org.jboss.serial">
      <priority value="INFO"/>
   </category>

   <!-- Limit the org.jgroups category to WARN as its INFO is verbose -->
   <category name="org.jgroups">
      <priority value="WARN"/>
   </category>

   <!-- Limit the jacorb category to WARN as its INFO is verbose -->
   <category name="jacorb">
      <priority value="WARN"/>
   </category>

   <!-- Limit JBoss categories -->
   <category name="org.jboss">
      <priority value="INFO"/>
   </category>

   <!-- Limit the JSR77 categories -->
   <category name="org.jboss.management">
      <priority value="INFO"/>
   </category>
   
   <!-- Limit the JBossTS categories -->
   <category name="com.arjuna">
      <priority value="INFO"/>
   </category>
   
   <!-- Limit the Hibernate categories -->
   <category name="org.hibernate">
      <priority value="INFO"/>
   </category>
   
   <!-- Limit the JSF categories -->
   <category name="javax.enterprise.resource.webcontainer.jsf">
      <priority value="INFO"/>
   </category>

   <root>
      <appender-ref ref="FILE"/>
   </root>
</log4j:configuration>
