# Remove old files from droppoint areas
59 23 28 * * root find "{{basedir}}/shuttle/ExptFilesForStimulusPC" -mindepth 1 ! -user root ! -name README.txt -mtime +180 -delete
59 23 28 * * root find "{{basedir}}/shuttle/ResultsFilesToCanopus" -mindepth 1 ! -user root ! -name README.txt -mtime +180 -delete
