{
  "comment": "",
  "status": "production",
  "kickstart": "<<inherit>>",
  "name_servers_search": [],
  "ks_meta": {},
  "kernel_options_post": {},
  "image": "",
  "redhat_management_key": "<<inherit>>",
  "virt_path": "<<inherit>>",
  "power_user": "",
  "kernel_options": {},
  "ctime": 1389026282.953473,
  "name_servers": [],
  "mtime": 1494239512.57975,
  "enable_gpxe": 0,
  "template_files": {
    "/var/lib/cobbler/files/auba.ssh_host_ecdsa_key": "/etc/ssh/ssh_host_ecdsa_key",
    "/var/lib/cobbler/files/auba.ssh_host_rsa_key.pub": "/etc/ssh/ssh_host_rsa_key.pub",
    "/var/lib/cobbler/files/auba.ssh_host_rsa_key": "/etc/ssh/ssh_host_rsa_key",
    "/var/lib/cobbler/files/auba.ssh_host_ecdsa_key.pub": "/etc/ssh/ssh_host_ecdsa_key.pub"
  },
  "gateway": "",
  "uid": "MTM4OTAyNjI4Mi45NTg0NjU0NS4yMzQzMTI",
  "virt_auto_boot": 0,
  "power_type": "ipmitool",
  "virt_cpus": "<<inherit>>",
  "mgmt_parameters": "<<inherit>>",
  "boot_files": {},
  "hostname": "auba",
  "repos_enabled": false,
  "mgmt_classes": [
    "canopusworkstations"
  ],
  "power_pass": "",
  "netboot_enabled": true,
  "ipv6_autoconfiguration": false,
  "profile": "{{distro}}-{{arch}}",
  "virt_type": "xenpv",
  "interfaces": {
    "eno1": {
      "ipv6_address": "",
      "interface_type": "",
      "static": false,
      "cnames": [],
      "mtu": "",
      "bonding_master": "",
      "subnet": "",
      "management": false,
      "interface_master": "",
      "mac_address": "00:22:4D:56:2A:15",
      "virt_bridge": "xenbr0",
      "netmask": "",
      "bonding_opts": "",
      "ip_address": "137.222.202.145",
      "dhcp_tag": "",
      "static_routes": [],
      "ipv6_mtu": "",
      "ipv6_static_routes": [],
      "if_gateway": "",
      "dns_name": "",
      "bonding": "",
      "bridge_opts": "",
      "ipv6_secondaries": [],
      "ipv6_default_gateway": ""
    }
  },
  "power_address": "",
  "proxy": "<<inherit>>",
  "fetchable_files": {},
  "virt_file_size": "<<inherit>>",
  "ldap_enabled": false,
  "monit_enabled": false,
  "ipv6_default_device": "",
  "virt_pxe_boot": 0,
  "virt_disk_driver": "<<inherit>>",
  "owners": [
    "admin"
  ],
  "name": "auba",
  "virt_ram": "<<inherit>>",
  "power_id": "",
  "server": "<<inherit>>",
  "redhat_management_server": "<<inherit>>",
  "depth": 2,
  "ldap_type": "authconfig",
  "template_remote_kickstarts": 0
}
