
#
# DOCKER bridge for linux containers
#
DOCKER="{{docker_subnet_cidr}}"
DOCKER_IF="{{docker_if}}"

#
# FILTER rules
#

# Chains managed by docker
iptables -N DOCKER
iptables -N DOCKER-ISOLATION

# Allow forwarding to all services on CRIC subnet
iptables -A FORWARD -s $DOCKER -d $CRIC -j ACCEPT

# Allow all Internal Traffic
iptables -A INPUT -i $DOCKER_IF -s $DOCKER -j ACCEPT
iptables -A OUTPUT -o $DOCKER_IF -d $DOCKER -j ACCEPT

# Allow forwarding to DNS servers
for ip in $DNS_SERVERS
do
    iptables -A FORWARD -s $DOCKER -d $ip -p udp --dport 53 -j ACCEPT
    iptables -A FORWARD -s $ip -d $DOCKER -p udp --sport 53 -j ACCEPT
done

# Allow forwarding to external web sites (nb: we could replace with a filtering proxy (tinyproxy))
iptables -A FORWARD -s $DOCKER -p tcp --dport 80 -j ACCEPT
iptables -A FORWARD -s $DOCKER -p tcp --dport 443 -j ACCEPT

# Return path for established connections
iptables -A FORWARD -d $DOCKER -m conntrack --ctstate RELATED,ESTABLISHED -j ACCEPT

#
# NAT rules
#
# TODO: see if we an make this a bit more idempotent as we won't
#       be clearing the nat table and we don't want lots of duplicate rules
#

# Chain managed by docker
if ! iptables -t nat -n --list DOCKER >/dev/null 2>&1; then
    iptables -t nat -N DOCKER
fi
if ! iptables -t nat -C -A DOCKER -i $DOCKER_IF -j RETURN >/dev/null 2>&1; then
    iptables -t nat -A DOCKER -i $DOCKER_IF -j RETURN
fi

# Anything going to local host pass through DOCKER chain
if ! iptables -t nat -A PREROUTING -m addrtype --dst-type LOCAL -j DOCKER >/dev/null 2>&1; then
    iptables -t nat -A PREROUTING -m addrtype --dst-type LOCAL -j DOCKER
fi

# NAT for forwarded packets
if ! iptables -C POSTROUTING -t nat -s $DOCKER ! -o $DOCKER_IF -j MASQUERADE >/dev/null 2>&1; then
    iptables -A POSTROUTING -t nat -s $DOCKER ! -o $DOCKER_IF -j MASQUERADE
fi

#  TODO: work out why this is in the rules generated by docker
if ! iptables -t nat -C OUTPUT ! -d 127.0.0.0/8 -m addrtype --dst-type LOCAL -j DOCKER >/dev/null 2>&1; then
    iptables -t nat -A OUTPUT ! -d 127.0.0.0/8 -m addrtype --dst-type LOCAL -j DOCKER
fi

