
#
# IDEA VMs access via host
#

VBOX="{{vbox_subnet_cidr}}"
VBOX_IF="{{vbox_if}}"

# Allow all access to host
iptables -A INPUT -i $VBOX_IF -s $VBOX -j ACCEPT
iptables -A OUTPUT -o $VBOX_IF -d $VBOX -j ACCEPT

# All forwarding to all services on CRIC subnet
iptables -A FORWARD -s $VBOX -d $CRIC -j ACCEPT

# Forwarding to NTP, licence servers and DNS on UoB Network
iptables -A FORWARD -s $VBOX -d $UOB -p tcp --dport 123 -j ACCEPT
iptables -A FORWARD -s $VBOX -d $UOB -p udp --dport 123 -j ACCEPT
iptables -A FORWARD -s $VBOX -d $UOB -p tcp --dport 1688  -j ACCEPT

# Forwarding to DNS
for ip in $DNS_SERVERS
do
    iptables -A FORWARD -s $VBOX -d $ip -p udp --dport 53 -j ACCEPT
    iptables -A FORWARD -s $VBOX -d $ip -p tcp --dport 53 -j ACCEPT
    iptables -A FORWARD -s $ip -d $VBOX -p udp --sport 53 -j ACCEPT
    iptables -A FORWARD -s $ip -d $VBOX -p tcp --sport 53 -j ACCEPT
done

# Forwarding to external web (could replace with filtering proxy (tinyproxy))
iptables -A FORWARD -s $VBOX -p tcp --dport 80 -j ACCEPT
iptables -A FORWARD -s $VBOX -p tcp --dport 443 -j ACCEPT

# Return path for established connections
iptables -A FORWARD -d $VBOX -m conntrack --ctstate RELATED,ESTABLISHED -j ACCEPT

# NAT (no inbound traffic so just masq, no port mapping)
if ! iptables -C POSTROUTING -t nat -s $VBOX ! -d $VBOX -j MASQUERADE 2> /dev/null; then
    iptables -A POSTROUTING -t nat -s $VBOX ! -d $VBOX -j MASQUERADE
fi
