
# User-defined chain
iptables -N accept-if-src-linux

# Accept only if coming from a cric linux host (w/s or server)
{% for host in linux_hosts %}
iptables -A accept-if-src-linux --src {{cric_subnet_prefix}}{{host}} -j ACCEPT
{% endfor %}

