#!/bin/bash
#
# Firewall Rules for CRIC Linux Workstations and Servers (RHD November 2020)
#

# Interfaces etc.
ETH_IF={{ansible_default_ipv4.interface}} 
OUR_IP={{ansible_default_ipv4.address}}
DNS_SERVERS="{{' '.join(ansible_dns.nameservers)}}"
CRIC="{{cric_subnet_cidr}}"
BCAST="{{cric_subnet_prefix}}255"
UOB="{{uob_subnet_cidr}}"
BLUEPIXEL="137.222.171.214/31"
RDSF="137.222.171.144/28" # actually only 149-154 (ugh)
JUNOS="137.222.244.0/22"
F5VPN="172.21.176.0/20" #  from IT
PSYCH="137.222.60.0/23"
NBT="137.222.62.0/24"
BRICARD="137.222.198.0/24"
DESKTOPS="172.18.4.0/24"
CRIC_SERVER="{{cric_main_server}}"
ANUBIS="137.222.10.17" # IT "networker" backup servers
BASTET="137.222.9.60"

# Clear down 'filter' tables (nb: not the 'nat' tables)
iptables -t filter --flush
iptables -t filter --delete-chain

# Set default policies
iptables --policy INPUT   DROP
iptables --policy OUTPUT  DROP
iptables --policy FORWARD DROP

{% include 'generic.j2' %}
{% include 'linuxhosts.j2' %}
{% include 'services.j2' %}
{% include 'outbound.j2' %}

{% if inventory_hostname == 'canopus' %}
{% include 'ideavm.j2' %}
{% endif %}

# Log all denied packets except windows chit chat on local subnet
iptables -A INPUT -p udp -s $CRIC --dport 137 -j DROP
iptables -A INPUT -p udp -s $CRIC --dport 138 -j DROP
iptables -A INPUT -p udp -s $CRIC -d $BCAST -j DROP
iptables -A INPUT -p udp -s $CRIC -d 255.255.255.255 -j DROP
iptables -A INPUT  -m limit --limit 1/minute -j LOG --log-prefix "Iptables denied (in): "  --log-level 7 --log-tcp-options --log-ip-options
iptables -A OUTPUT -m limit --limit 1/minute -j LOG --log-prefix "Iptables denied (out): " --log-level 7 --log-tcp-options --log-ip-options

