
#
# inbound access to services
#

{% include 'sge.j2' %}
{% include 'nrpe.j2' %}
{% include 'localssh.j2' %}

{% if inventory_hostname == 'vega' %}
    {% include 'mosh.j2' %}
    {% include 'rsync.j2' %}
    {% include 'web.j2' %}
    {% include 'ssh.j2' %}
{% endif %}

{% if inventory_hostname == 'canopus' %}
    {% include 'web.j2' %}
    {% include 'unix.j2' %}
    {% include 'dicom.j2' %}
    {% include 'svn.j2' %}
    {% include 'cups.j2' %}
    {% include 'cobbler.j2' %}
    {% include 'postgres.j2' %}
    {% include 'mail.j2' %}
    {% include 'samba.j2' %}
    {% include 'vrdp.j2' %}
    {% include 'rsync.j2' %}
    {% include 'ssh.j2' %}
    {% include 'networker.j2' %}
{% endif %}

{% if inventory_hostname == 'capella' %}
    {% include 'rsync.j2' %}
    {% include 'web.j2' %}
    {% include 'ssh.j2' %}
{% endif %}
