# SGE_ROOT Path, this is basic information
SGE_ROOT=/opt/sge

# SGE_QMASTER_PORT is used by qmaster for communication
SGE_QMASTER_PORT={{sge_qmaster_port}}

# SGE_EXECD_PORT is used by execd for communication
SGE_EXECD_PORT={{sge_execd_port}}

# SGE_ENABLE_SMF
SGE_ENABLE_SMF=false

# SGE_CLUSTER_NAME
SGE_CLUSTER_NAME={{sge_cluster_name}}

# CELL_NAME, will be a directory in SGE_ROOT, contains the common dir
CELL_NAME={{sge_cell_name}}

# The directory where qmaster spools the parts which are not spooled by DB
QMASTER_SPOOL_DIR=$SGE_ROOT/$CELL_NAME/spool/qmaster

# The directory where the execd spools (active jobs)
# This entry is needed even if you are going to use
# berkeley db spooling. Only cluster configuration and jobs will
# be spooled in the database. The execution daemon still needs a spool
# directory  
EXECD_SPOOL_DIR=$SGE_ROOT/$CELL_NAME/spool

# For monitoring and accounting of jobs, every job will get
# unique GID. So you have to enter a free GID Range, which
# is assigned to each job running on a machine.
# If you want to run 100 Jobs at the same time on one host you
# have to enter a GID-Range like that: 16000-16100
GID_RANGE="80000-80100"

# If SGE is compiled with -spool-dynamic, you have to enter here which
# spooling method should be used. (classic or berkeleydb)
SPOOLING_METHOD=classic

# A list of hosts which should become admin hosts
# If you do not enter any host here, you have to add all of your hosts
# by hand after the installation. The example works without any entry
ADMIN_HOST_LIST="{{sge_master}}"

# A list of hosts which should become submit hosts
# If you do not enter any host here, you have to add all of your hosts
# by hand after the installation. The example works without any entry
SUBMIT_HOST_LIST="{{sge_master}}"

# A list of hosts which should become exec hosts
# If you do not enter any host here, you have to add all of your hosts
# by hand after the installation. The example works without any entry
# (mandatory for execution host installation)
EXEC_HOST_LIST="{{sge_master}}"

# The directory where the execd spools (local configuration)
# If you want configure your execution daemons to spool in
# a local directory, you have to enter that directory here.
# If you do not want to configure a local execution host spool directory
# please leave this empty
EXECD_SPOOL_DIR_LOCAL=""

# If true, the domainnames will be ignored during the hostname resolving
# if false, the fully qualified domain name will be used for name resolving
HOSTNAME_RESOLVING=true

# Shell which should be used for remote installation (rsh/ssh)
# This is only supported if your hosts and rshd/sshd are configured
# not to ask for a password, or prompting with any message.
SHELL_NAME=ssh

# This remote copy command is used for CSP installation.
# The script needs the remote copy command for distributing
# the CSP certificates. Using SSH the command scp has to be entered,
# using the not so secure rsh, the command rcp has to be entered.
# Both need a passwordless ssh/rsh connection to the hosts which
# should be connected to. (Mandatory for CSP installation mode)
COPY_COMMAND=scp

# Enter your default domain, if you are using /etc/hosts or NIS configuration
DEFAULT_DOMAIN={{sge_default_domain}}

# If a job stops, fails, or finishes, you can send mail to this address
ADMIN_MAIL={{sge_admin_email}}

# If true, the rc scripts (sgemaster, sgeexecd) will be added
# to start automatically during boottime
ADD_TO_RC=true

# If this is "true" the file permissions of executables will be set to 755
# and of ordinary files to 644.
SET_FILE_PERMS=true

# Enter one of the three distributed scheduler tuning configuration sets
# (1=normal, 2=high, 3=max)
SCHEDD_CONF=1

