#
# Source this file to switch to anaconda python.
# RHD 30/01/2019
#
anaconda_dir={{conda_dir}}/bin

case ":${PATH:=$anaconda_dir}:" in
    *:$anaconda:*)  ;;
    *) PATH="$anaconda_dir:$PATH"  ;;
esac
export PATH
