[global]

workgroup = WORKGROUP
server string = %h server (Samba, Ubuntu)
wins support = no
dns proxy = no

bind interfaces only = yes
max smbd processes = 5
hosts deny = 0.0.0.0/0
hosts allow = {{ allowed_hosts }} 

log file = /var/log/samba/log.%m
max log size = 1000
syslog = 0
panic action = /usr/share/samba/panic-action %d

security = user
encrypt passwords = true
passdb backend = tdbsam
obey pam restrictions = yes
unix password sync = no

map to guest = bad user

# Shares for transfer of non-image data between UHB and the CRIC University Network
# These directories will be rsync'ed to the corresponding ones on canopus
# by a cron job.
[mridata]
    comment = Non Image MR Data for CRIC
    read only = no
    path = /var/local/mridata
    guest ok = yes
    force user = dicom
    force group = dicom
    preserve case = yes
    short preserve case = yes
    follow symlinks = no
    public = yes
    available = yes
    browsable = yes
    create mask = 640
    directory mask = 750
    hosts allow = {{ allowed_hosts_mridata }}


[uobdata]
    comment = Data for import from CRIC on UoB Network
    read only = yes
    path = /var/local/uobdata
    guest ok = yes
    force user = dicom
    force group = dicom
    preserve case = yes
    short preserve case = yes
    follow symlinks = no
    public = yes
    available = yes
    browsable = yes
    create mask = 640
    directory mask = 750
    hosts allow = {{ allowed_hosts_uobdata }}
