# Use sudo rather than default spawner so we can run as non-root user
c.JupyterHub.spawner_class = 'sudospawner.SudoSpawner'
c.Spawner.cmd = ['jupyter-labhub']
# Run lab rather than traditional notebook by default
c.Spawner.default_url = '/lab'
# Force local only listen as we'll front with a reverse proxy
c.JupyterHub.ip = '127.0.0.1'
# Path to match path on proxy
c.JupyterHub.base_url = '/{{hub_path}}/'
# Admin users
c.Authenticator.admin_users = {'rtrhd', 'psjcwb', 'dg12158'}

