# User rules for jupyterhub
# the command(s) the Hub can run on behalf of the above users without needing a password
# the exact path may differ, depending on how sudospawner was installed
Cmnd_Alias JUPYTER_CMD = {{conda_dir}}/bin/sudospawner

# actually give the Hub user permission to run the above command on behalf
# of the above users without prompting for a password
{{hub_user}} ALL=(ALL) NOPASSWD:JUPYTER_CMD
