[Unit]
Description=Jupyterhub
After=syslog.target network.target

[Service]
User={{hub_user}}
Group={{hub_group}}
Environment="PATH={{conda_dir}}/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
WorkingDirectory={{conda_dir}}/var/jupyterhub
SuccessExitStatus=143
ExecStart={{conda_dir}}/bin/jupyterhub -f {{conda_dir}}/etc/jupyterhub/jupyterhub_config.py

[Install]
WantedBy=multi-user.target
