    # https upgrade for jupyterhub to be included in default apache port 80 virtualhost    
    RewriteEngine On
    RewriteCond %{HTTPS} off [NC]
    RewriteRule ^/{{hub_path}}/(.*) https://%{HTTP_HOST}/{{hub_path}}/$1 [R,L]

    RewriteCond %{HTTPS} off [NC]
    RewriteRule ^/{{hub_path}} https://%{HTTP_HOST}/{{hub_path}} [R,L]

