    # Reverse Proxy for jupyterhub to be included in default apache port 443 virtualhost
    RewriteEngine On
    RewriteCond %{HTTP:CONNECTION} upgrade [NC]
    RewriteCond %{HTTP:UPGRADE} websocket [NC]
    RewriteRule /{{hub_path}}/(.*) ws://127.0.0.1:8000/{{hub_path}}/$1 [P]

    RewriteRule /{{hub_path}}/(.*) http://127.0.0.1:8000/{{hub_path}}/$1 [P]

    ProxyPreserveHost on
    ProxyPass         /{{hub_path}} http://127.0.0.1:8000/{{hub_path}}
    ProxyPassReverse  /{{hub_path}} http://127.0.0.1:8000/{{hub_path}}

