import sys
sys.stdout = sys.stderr

import os
os.environ['TRAC_ENV_PARENT_DIR'] = '{{trac_dir}}/projects'
os.environ['PYTHON_EGG_CACHE'] = '{{trac_dir}}/eggs'

import trac.web.main

application = trac.web.main.dispatch_request
