Alias /trac-docs/ "/usr/share/trac/htdocs/"
<Directory "/usr/share/trac/htdocs">
    Allow from All
</Directory>

WSGIScriptAlias /trac "{{trac_dir}}/apache/trac.wsgi"

<Directory {{trac_dir}}/apache>
    WSGIApplicationGroup %{GLOBAL}
    Options +Indexes +ExecCGI +SymLinksIfOwnerMatch
    AllowOverride None
    Order deny,allow
    Allow from all
    Require all granted
</Directory>

<LocationMatch /trac/[^/]+/login>
   AuthType Digest
   AuthName "trac"
   AuthUserFile /etc/apache2/htdigest
   Require valid-user
</LocationMatch>
