<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<!-- {{ansible_hostname}} -->
<html>
<head>
<style>
ul {
    list-style-type:none;
    margin:0;
    padding:0;
}
#carina {
    float: left;
}
</style>
</head>
<body>
<a id="logo" href="http://www.cricbristol.ac.uk"><img src="/icons/cricbristol.gif" alt="CRICBristol" /></a>
<h2>CRIC Bristol - Welcome to <em>{{ansible_hostname | title}}</em></h2>
<a href="http://en.wikipedia.org/wiki/{{ansible_hostname | title}}"><span>
<object id="carina" data="{{constellations[ansible_hostname] | title}}_IAU.svg" type="image/svg+xml" width="645" height="452" class="img" onClick="window.location.href='http://en.wikipedia.org/wiki/{{ansible_hostname | title}}';"></object>
</span></a>
<h3>Services</h3>
<ul>
    <li><a href="http://canopus.cric.bris.ac.uk/dcm4chee-web3"><strong>Dicom Archive Web Interface</strong></a></li>
    <li><a href="https://cric-bristol.calpendo.com">Online Booking System</a></li>
    <li>&nbsp;</li>
    <li><a href="https://vega.cric.bristol.ac.uk/jupyterhub">Jupyter Hub</a></li>
    <li><a href="https://vega.cric.bristol.ac.uk/rstudio">RStudio</a></li>
</ul>
<h3>User Information</h3>
 <ul>
    <li><a href="http://canopus.cric.bris.ac.uk/trac/mrianalysis"><strong>Introduction and MRI Analysis</strong></a></li>
    <li>&nbsp;</li>
    <li><a href="http://canopus.cric.bris.ac.uk/trac/mriscanning">MRI Scanning</a></li>
    <li><a href="http://canopus.cric.bris.ac.uk/trac/mriseqdev">MRI Pulse Programming</a></li>
    <li><a href="http://canopus.cric.bris.ac.uk/fmriqa_reports.html">fMRIQA Results (<em>Historical Plot</em>)</a></li>
    <li><a href="http://canopus.cric.bris.ac.uk/trac">Index of All Wikis</a></li>
</ul>
<h3>System Information</h3>
<ul>
    <li><a href="http://canopus.cric.bris.ac.uk/trac/sysconfig">Canopus Information and Status</a></li>
    <li><a href="http://bluepixel.acrc.bris.ac.uk/trac">Blue Pixel Documentation</a></li>
</ul>
</body>
</html>
