    RewriteEngine On
    RewriteCond %{HTTP:CONNECTION} upgrade [NC]
    RewriteCond %{HTTP:UPGRADE} websocket [NC]
    RewriteRule /{{rstudio_path}}/(.*)     ws://localhost:8787/$1  [P,L]
    RewriteRule /{{rstudio_path}}/(.*)     http://localhost:8787/$1 [P,L]
    ProxyPass /{{rstudio_path}} http://localhost:8787
    ProxyPassReverse /{{rstudio_path}} http://localhost:8787
    ProxyRequests Off
