    #
    # Reverse proxy config for rstudio server on 443 (https) based on:
    # https://mgw.dumatics.com/rstudio-server-setup-with-ssl-behind-apache-proxy-server/
    #
    RewriteEngine On

    # Some required redirects for {{rstudio_path}} to work under a subdirectory
    Redirect /{{rstudio_path}} /{{rstudio_path}}/
    Redirect /auth-sign-in /{{rstudio_path}}/auth-sign-in  
    Redirect /auth-sign-out /{{rstudio_path}}/auth-sign-out

    # Catch RStudio redirecting improperly from the auth-sign-in page
    <If "%{HTTP_REFERER} =~ /auth-sign-in/">
        RedirectMatch ^/$    /{{rstudio_path}}/
    </If>

    ProxyPreserveHost on

    RewriteCond %{HTTP:CONNECTION} upgrade [NC]
    RewriteCond %{HTTP:UPGRADE} websocket [NC]
    RewriteRule /{{rstudio_path}}/(.*)     ws://localhost:8787/$1  [P,L]
    RewriteRule /{{rstudio_path}}/(.*)     http://localhost:8787/$1 [P,L]
    ProxyPass /{{rstudio_path}}/ http://localhost:8787/
    ProxyPassReverse /{{rstudio_path}}/ http://localhost:8787/
    RequestHeader set X-Forwarded-Proto "https"
    ProxyRequests Off
