--
-- limit functionality of rest api for non-admin users
--
function IncomingHttpRequestFilter(method, uri, ip, username, httpHeaders)
  if method == 'GET' then
    -- Read-only access (only GET method is allowed)
    return true
  elseif username == '{{admin_user}}' then
    -- Read-write access for administrator (any HTTP method is allowed)
    return true
  else
    -- Access is disallowed by default
    return false
  end
end
