$('#study').live('pagebeforecreate', function() {

  var b = $('<a>')
    .attr('data-role', 'button')
    .attr('href', '#')
    .attr('data-icon', 'search')
    .attr('data-theme', 'e')
    .text('Show metadatas');

  b.insertBefore($('#study-delete').parent().parent());
  b.click(function() {
    if ($.mobile.pageData) {
      var study = $.mobile.pageData.uuid;
      {%if apache2_rproxy -%}
      window.open('/{{rproxy_path}}/studies/' + study + '/metadata?expand');
      {% else -%}
      window.open('/studies/' + study + '/metadata?expand');
      {% endif %}
    }
  });
});

$('#instance').live('pagebeforecreate', function() {

  var b = $('<a>')
    .attr('data-role', 'button')
    .attr('href', '#')
    .attr('data-icon', 'search')
    .attr('data-theme', 'e')
    .text('Show pydicom');

  b.insertBefore($('#instance-delete').parent().parent());
  b.click(function() {
    if ($.mobile.pageData) {
      var instance = $.mobile.pageData.uuid;
      {%if apache2_rproxy -%}
      window.open('/{{rproxy_path}}/pydicom/' + instance);
      {% else -%}
      window.open('/pydicom/' + instance);
      {% endif %}
    }
  });
});
