#!/bin/bash
#
# Clean up orthanc server.
# RHD 20210420

USER={{orthanc_user}}
PROG={{bin_dir}}/expire_patients

HOST=localhost
PORT={{("443" if rproxy_https else "80") if apache2_rproxy else http_port}}
PREFIX={{rproxy_path if apache2_rproxy else ""}}
SECURE={{rproxy_https}}
WEB_USER={{admin_user}}
WEB_PASSWD={{admin_passwd}}
DAYS={{expiry_time}}

sudo -u $USER $PROG --host $HOST --port $PORT --prefix $PREFIX --user $WEB_USER --password "$WEB_PASSWD" --secure $SECURE --force --days $DAYS

exit 0
