[Unit]
Description=Orthanc Dicom Service
{% if use_postgres %}
Requires=postgresql.service
{% endif %}
{% if apache2_rproxy %}
Requires=apache2.service
{% endif %}
After=syslog.target network.target
ConditionPathIsDirectory={{configs_dir}}/%i
ConditionPathIsDirectory={{log_dir}}

[Service]
Type=simple
User={{orthanc_user}}
Group={{orthanc_group}}
WorkingDirectory={{install_dir}}
Environment="LUA_PATH=/usr/share/lua/5.3/?.lua;/usr/share/lua/5.3/?/init.lua;"
Environment="LUA_CPATH=/usr/lib/x86_64-linux-gnu/lua/5.3/?.so;"
ExecStart={{bin_dir}}/Orthanc --logfile={{log_dir}}/%i.log {{configs_dir}}/%i

[Install]
WantedBy=multi-user.target
