#!/usr/bin/env python3
"""Upload files to Orthanc."""

import sys
import os
from os.path import isfile, isdir, join
from logging import info, warning, error
import urllib3
urllib3.disable_warnings(urllib3.exceptions.InsecureRequestWarning)

import requests

def upload_file(path, url, username=None, password=''):
    """Upload a single dicom file to Orthanc through the REST API."""
    response = None
    try:
        with open(path, "rb") as f:
            response = requests.post(
                url,
                data=f,
                headers={'Content-Type': 'Application/dicom'},
                auth=(username, password) if username else None,
                verify=False
            )
    except (FileNotFoundError, IsADirectoryError, PermissionError) as e:
        warning("Importing %s => unable to read file [%s]" % (path, e))
        return False
    except (requests.RequestException, requests.exceptions.ConnectionError) as e:
        warning("Importing %s => unable to connect to %s (Is Orthanc running? Is there a password?)" % (path, url))
        return False
    except OSError as e:
        warning("Importing %s to %s => OS errors [%s]" % (path, url, e))
        return False

    if response.status_code != 200:
        warning("Importing %s to [%s] => error reponse [%d] (Is it a DICOM file? Is there a password?)" % (path, url, response.status_code))
        return False

    info("Importing %s => success" % path)
    return True


if __name__ == '__main__':

    from argparse import ArgumentParser
    import logging

    parser = ArgumentParser(
        description='Upload DICOM files to Orthanc.',
    )

    parser.add_argument(
        '--host', default='127.0.0.1',
        help='The host address that runs Orthanc'
    )

    parser.add_argument(
        '--port', type=int, default='{{("443" if rproxy_https else "80") if apache2_rproxy else http_port}}',
        help='The port number to which Orthanc is listening for the REST API'
    )

    parser.add_argument(
        '--prefix', default='{{rproxy_path if apache2_rproxy else ""}}',
        help='The path prefix if orthanc is behind a reverse proxy'
    )

    parser.add_argument(
        '--secure', type=bool, default={{rproxy_https}},
        help='Use tls if orthanc is behind a reverse proxy'
    )

    parser.add_argument(
        '--user', default='{{admin_user}}',,
        help='The orthanc user'
    )

    parser.add_argument(
        '--password',
        help='The password for the orthanc user'
    )

    parser.add_argument(
        '--verbose', action='store_true', default=False,
        help='Verbose Logging'
    )

    parser.add_argument(
        'sources', nargs='*',
        help='Dicom files or directories containing DICOM files'
    )

    args = parser.parse_args()
    protocol = 'https' if args.secure else 'http'
    if args.prefix:
        url = '%s://%s:%d/%s/instances' % (protocol, args.host, args.port, args.prefix)
    else:
        url = '%s://%s:%d/instances' % (protocol, args.host, args.port)

    total_file_count, success_count = 0, 0

    logging.basicConfig(format='%(levelname)s: %(message)s', level=logging.INFO if args.verbose else logging.WARN)

    if not args.sources:
        sys.exit('No DICOM files specified')

    for source in args.sources:
        if isfile(source):
            total_file_count += 1
            if upload_file(source, url, args.user, args.password):
                success_count += 1
        elif isdir(source):
            # Recursively upload a directory
            for root, dirs, files in os.walk(source):
                for f in files:
                    total_file_count += 1
                    if upload_file(join(root, f), url, args.user, args.password):
                        success_count += 1
        else:
            warning('Ignoring %s: not a file or directory')

    if total_file_count < 1:
        sys.exit('No files transferred')

    if success_count < 1:
        error("None of %d file(s) imported as DICOM instances" % total_file_count)
        sys.exit(1)
        
    if success_count < total_file_count:
        warning(
            "%d of %d file(s) imported as DICOM instances" %
            (success_count, total_file_count)
        )
        sys.exit(1)

    info("All %d DICOM file(s) imported successfully" % success_count)
    sys.exit(0)
