    # Reverse Proxy for orthanc to be included in default apache port 443 virtualhost
    ProxyPreserveHost on
    Redirect /{{ rproxy_path }} /{{ rproxy_path }}/
    ProxyPass         /{{ rproxy_path }}/ http://127.0.0.1:{{ http_port }}/ retry=0
    ProxyPassReverse  /{{ rproxy_path }}/ http://127.0.0.1:{{ http_port }}/
