    # https upgrade for orthanc to be included in default apache port 80 virtualhost    
    RewriteEngine On
    RewriteCond %{HTTPS} off [NC]
    RewriteRule ^/{{ rproxy_path }}/(.*) https://%{HTTP_HOST}/{{ rproxy_path }}/$1 [R,L]

    RewriteCond %{HTTPS} off [NC]
    RewriteRule ^/{{ rproxy_path }} https://%{HTTP_HOST}/{{ rproxy_path }} [R,L]
