#
# direct mounts from canopus
#

{% if inventory_hostname != 'canopus' %}
# droppopints
/var/local/mridata -so,intr canopus:/var/local/mridata
/var/local/uobdata -so,intr canopus:/var/local/uobdata
/var/local/shuttle -so,intr canopus:/var/local/shuttle
{% else %}
# droppopints not mounted as on canopus
#/var/local/mridata -so,intr canopus:/var/local/mridata
#/var/local/uobdata -so,intr canopus:/var/local/uobdata
#/var/local/shuttle -so,intr canopus:/var/local/shuttle
{% endif %}

