#
# template derived hosts file
#
127.0.0.1 localhost
{{ ansible_default_ipv4.address }} {{ inventory_hostname }} {{ inventory_hostname_short }}
137.222.202.124 canopus.cric.bristol.ac.uk canopus
137.222.202.166 vega.cric.bristol.ac.uk vega
137.222.202.155 capella.cric.bris.ac.uk capella

# The following lines are desirable for IPv6 capable hosts
::1     ip6-localhost ip6-loopback
fe00::0 ip6-localnet
ff00::0 ip6-mcastprefix
ff02::1 ip6-allnodes
ff02::2 ip6-allrouters
