deb http://gb.archive.ubuntu.com/ubuntu {{ ubuntu_dist_name }} main restricted universe multiverse
deb http://gb.archive.ubuntu.com/ubuntu {{ ubuntu_dist_name }}-updates main restricted universe multiverse
deb http://gb.archive.ubuntu.com/ubuntu {{ ubuntu_dist_name }}-backports main restricted universe multiverse
deb http://security.ubuntu.com/ubuntu {{ ubuntu_dist_name }}-security main universe multiverse
